@model IEnumerable<EasyBuy.ViewModels.CartItemVm>
@{
    ViewData["Title"] = "Cart";
    int i = 1;
      decimal totalPrice = 0;
}

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <span class=" text-warning font-weight-normal"><b>Cart Product </b></span>
                    </div>
                    <div class="table-responsive">
                        @if (Model != null)
                        {

                            <table class=" table border-top-0 table-bordered m-3 table-striped font-weight-normal">
                                <thead style="font-size:12px">
                                    <tr>
                                        <th>#</th>

                                        <th>Category</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>PrevPrice</th>
                                        <th>Quantity</th>

                                        <th>Image</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:11px">
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Category</td>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                        <td><s>@item.PrevPrice</s></td>
                                        <td>@item.Quentity</td>
                                        <td><img src="~/@item.Image" alt="Alternate Text" style="height:50px;width:50px; border-radius:25px" /></td>
                                        <td>
                                            @if (@item.Quentity == 5)
                                            {
                                                <a disabled><i class="fas fa-plus"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="IncCartItem" class="font-weight-bold" asp-route-id="@item.ProductId"><i class="fas fa-plus"></i></a>
                                            }

                                            <span>@item.Quentity</span>
                                            <a asp-action="DecCartItem" class="font-weight-bold" asp-route-id="@item.ProductId"><i class="fas fa-minus"></i></a>
                                            <a asp-action="RemoveCartItem" class="btn btn-danger" asp-route-id="@item.ProductId">Remove</a>
                                        </td>
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            foreach (var item in Model)
                            {

                                totalPrice = totalPrice + (item.Quentity * item.Price);
                            }

                        }

                    </div>
                    <div class="row">
                        <div class="col-md-5 offset-md-7">
                            <a class="btn btn-outline-dark" asp-action="Index">Back To List</a>
                            <a class="btn btn-outline-info" asp-action="CheckOut" asp-controller="Home">Check Out</a>
                            <span class="pull-right"><b>Total:</b>@totalPrice</span>
                        </div>
                    </div>
                </div>
               
            </div>
           
        </div>
